@use './styles/style.scss' as *;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold_0.otf') format('truetype'); /* o 'opentype' para .otf */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.truncate-text {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

@media screen and (max-width: 1366px) {
  .is1366 {
    width: 80% !important;
  }
}